.blue {
    border-bottom: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}