body {
    font-family: Verdana, sans-serif;
    color: white;
    background: url('../src/images/bg.jpg');
}

td {
    vertical-align: middle;
}

h2 {
    margin: 30px 0;
    text-align: center;
}

hr {
    border: none;
    color: white; 
    background-color: white;
    height: 2px;
    opacity: 1;
}